<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>eTopics - Admin</title>
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    @RenderSection("sb-admin-2.min", required: false)
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            @await Component.InvokeAsync("AdminSideNav")
        </ul>
        <hr class="sidebar-divider my-0">
        <div id="content-wrapper" class="d-flex flex-column">
            @await Component.InvokeAsync("AdminTopNav")

            @RenderBody()
</div>
        </div>
            @await Component.InvokeAsync("AdminFooter")


            <!-- Bootstrap core JavaScript-->
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="~/js/sb-admin-2.min.js"></script>


            @RenderSection("Scripts", required: false)
</body>
</html>